BASE_URL=http://localhost:8000
ADMIN_LOGIN=admin@dssl.ru
ADMIN_PWD=123456

# Postgres
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_DB=analyser_db
DATABASE_URL=postgresql+asyncpg://root:password@localhost:5432/analyser_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=password

# Oauth2
SECRET_KEY=password
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Yandex S3
S3_BUCKET=bucket
S3_ENDPOINT=https://storage.yandexcloud.net
AWS_REGION=ru-central1
AWS_ACCESS_KEY_ID=key
AWS_SECRET_ACCESS_KEY=key
MAX_FILE_SIZE=52428800

INTERNAL_TOKEN=token